<h1><b><%= @costume.name %></h1></b>
<br>
<h5><%= @costume.ranking %></h5>
<br>
<h5><%= @costume.description %></h5>
<br>
<a href="/costumes/<%= @costume.id %>/edit">click to edit</a>

<form action="/costumes/<%= @costume.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
  <div><button type="submit">Delete Submission</button></div>
</form>