<h5>Your fursuit entry:</h5><%= @costume.name %><br><br>
<h5>Description:</h5><%= @costume.description %><br><br>
<h5>Suit Current Owner:</h5><%= @costume.suit_owner %><br><br>
<h5>Ranking:</h5><%= @costume.ranking %>

<br>
<br>
<a href="/costumes/<%= @costume.id %>/edit">click to edit</a><br>

<form action="/costumes/<%= @costume.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
  <div><button type="submit">Delete Submission</button></div>
</form><br><br>